################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/src/App/obj
/src/Api/GloboTicket.Admin.API/bin/Debug/net8.0
/src/Api/GloboTicket.Admin.API/obj
